body {
  font-family: "Poppins", sans-serif;
}
section {
  padding-top: 50px;
  padding-bottom: 25px;
}
:root {
  --p-text-color: #231d4f;
  --p-btn: #f496d13b;
  --p-icon-bg: #5243c270;
  --p-bg-color: #3f87f5;
  --footer-bg: #0b0d17;
}
/* package section custom css */
.p-text {
  color: var(--p-text-color);
}
.p-btn {
  background-color: var(--p-btn);
}
.p-icon-bg {
  background-color: var(--p-icon-bg);
}
.p-bg-color {
  background-color: var(--p-bg-color);
}
.p-badge {
  left: 730px;
}
/* why section css */
.ceo {
  margin-bottom: -7px;
}
.why-had {
  font-size: 55px;
}
/* footer css */
footer {
  background-color: var(--footer-bg);
}
small {
  font-size: 10px;
}
/* mobile view responsive */
@media only screen and (max-width: 688px) {
  /* slider css */
  .silder-text {
    width: 100% !important;
    padding: 15px 0px;
  }
  /* our package section css */
  .p-badge {
    left: 300px;
  }
  /* question section */
  .orderF {
    order: 0;
  }
  .orderS {
    order: 1;
  }
  .copy-align {
    text-align: center;
  }
  .copy-text {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}

/* Tablat responsive */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  /* question section */
  .orderF {
    order: 0;
    display: flex;
    justify-content: center;
  }
  .orderS {
    order: 1;
  }
  /*  */
  .highlight-right {
    display: flex;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .p-badge {
    left: 495px;
  }
}
