body {
  font-family: "Poppins", sans-serif;
}
/*
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@media only screen and (max-width: 688px) {
  .silder-text {
    width: 100% !important;
    padding: 15px 0px;
  }
}
